
/*---- MENU IZQUIERDA -------
----------------------------*/
.well {                        
  min-width: 40%;
  
}

/*------- MAPA DIV ----------
----------------------------*/
#mod_mapOutput-map_daily {     
  min-width: 58%;
}

/* -------------------------- RESPONSIVE ------------------------------------
--------------------------------------------------------------------------- */



@media only screen and (min-width: 1081px) and (max-width : 2400px){
  .well {
    background-color: blue;
    
  }
}

/*
@media only screen and (min-width: 751px) and (max-width: 1080px) {
  
  .well {
    background-color: green;
 
  }
  
  #mod_saveOutput-map_save {   
    margin-left: 2%;
    display:inline-block;
     
  }
  
  #mod_saveOutput-table_save {  
    margin-left: 2%;
    display:inline-block;
     
  }
  
  #mod_mapOutput-map_daily {      
  
  }
  
}



@media only screen and (min-width: 601px) and (max-width: 750px) { */
  
@media only screen and (min-width: 601px) and (max-width: 1080px) {
  .well {
    background-color: orange;
    min-width: 100%;
    display:inline-block;
  }
  
  #mod_saveOutput-map_save {      /* DIV BOTON MAPA */
     
    margin-left: 5%;
  }
  
  #mod_saveOutput-table_save {   /* DIV BOTON TABLE */
     
    margin-left: 5%;
  }
  
  #mod_mapOutput-map_daily {     /* DIV MAPA */
  min-width: 600px;
  display:inline-block; 
  }
  
}


@media only screen and (max-width: 600px) {
  
  .well {
    background-color: red;
  }
  
  #mod_saveOutput-map_save {      /* DIV BOTON MAPA */
    min-width: 250px;
    margin-left: 20%;
  }
  
  #mod_saveOutput-table_save {   /* DIV BOTON TABLE */
    min-width: 250px;
    margin-left: 20%;
  }


}


  
